.header-nav {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
        margin-right: 25px;
        img {
            width: 45px;
        }
    }
    .navbar-nav {
        align-items: center;

        .nav-item {
            margin-right: 20px;
            letter-spacing: 0.05em;
            &.active {
                padding: 10px 14px;
                border-radius: 2px;
                background: #171717;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
