<%- include layout/header -%>

<h1>Hello</h1>

<p>
    <a href="/create">Create</a>
</p>

<ul>
    <% locals.posts.forEach(function(post){ %>
        <li>
            Post: <%= post %>
        </li>
    <% }); %>
</ul>

<%- include layout/footer -%>