<section id="contact" data-parallax="0.1" data-parallax-offset="0" class="boldSection topSemiSpaced bottomSmallSpaced btDarkSkin gutter inherit btParallax"
style="background-color:#ef700e;">
<div class="port">
    <div class="boldCell">
        <div class="boldCellInner">
            <div class="boldRow ">
                <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextRight animate animate-fadein btMiddleVertical btDoublePadding" style="z-index: 10;">
                    <div class="rowItemContent">
                        <header class="header btClear medium  btAccentDash btRegularTitle">
                            <p class="btSuperTitle">Мы будем довольны помочь </p>
                            <div class="dash">
                                <h3>
                                    <span class="headline">СВЯЖИТЕСЬ С НАМИ
                                    </span>
                                </h3>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft animate animate-fadein btMiddleVertical">
                    <div class="rowItemContent">
                        <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr>
                        </div>
                        <div class="servicesItem  mediumIcon colorless borderlessIconType ">
                            <div class="sIcon">
                                <div class="btIco medium colorless borderless">
                                    <a href="javascript:void(0)" data-ico-cs="&#xe60f;" class="btIcoHolder"></a>
                                </div>
                            </div>
                            <div class="sTxt">
                                <header class="header btClear extrasmall">
                                    <div class="dash">
                                        <h4>
                                            <span class="headline">Колл центр</span>
                                        </h4>
                                    </div>
                                </header>
                                <p style="margin-bottom:0;">+380633280980</p>
                                <p>ltppost@rambler.ru <br/><br/></p>
                            </div>
                        </div>
                        <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="rowItem btLeftBorder col-md-3 col-sm-6 col-ms-12 btTextLeft animate animate-fadein btMiddleVertical">
                    <div class="rowItemContent">
                        <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr>
                        </div>
                        <div class="servicesItem  mediumIcon colorless borderlessIconType ">
                            <div class="sIcon">
                                <div class="btIco medium colorless borderless">
                                    <a href="javascript:void(0)" data-ico-cs="&#xe610;" class="btIcoHolder"></a>
                                </div>
                            </div>
                            <div class="sTxt">
                                <header class="header btClear extrasmall">
                                    <div class="dash">
                                        <h4>
                                            <span class="headline">РАБОЧЕЕ ВРЕМЯ</span>
                                        </h4>
                                    </div>
                                </header>
                                <p>
                                    Пн-Пт 9-19
                                    <br>Суббота 9-18
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="rowItem btLeftBorder col-md-3 col-sm-6 col-ms-12 btTextLeft animate animate-fadein btMiddleVertical">
                    <div class="rowItemContent">
                        <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr>
                        </div>
                        <div class="servicesItem  mediumIcon colorless borderlessIconType ">
                            <div class="sIcon">
                                <div class="btIco medium colorless borderless">

                                    <a href="javascript:void(0)" data-ico-cs="&#xe663;" class="btIcoHolder"></a>
                                </div>
                            </div>
                            <div class="sTxt">
                                <header class="header btClear extrasmall">
                                    <div class="dash">
                                        <h4>
                                            <span class="headline">НАШЕ МЕСТО НАХОЖДЕНИЯ</span>
                                        </h4>
                                    </div>
                                </header>
                                <p>улица Милославская, 2
                                    <br>Киев, 02232
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>